:root {
  --brand-orange: #f76f21;
  --brand-pink: #ed4a94;
  --brand-purple: #7c3aed;
  --brand-heading-orange: #fa4f2d;
  --brand-pink-text: #de4ba6;

  --brand-gradient: linear-gradient(
    to right,
    var(--brand-orange),
    var(--brand-pink)
  );
}

.brand-gradient {
  background: var(--brand-gradient);
}

.brand-heading {
  background: linear-gradient(
    to right,
    var(--brand-heading-orange),
    var(--brand-purple)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}